
    

/* Table of Contents 
 * CH1 - Typography
 * CH2 - Abstractions & Visual Language
 * CH3 - About Me
 * CH4 - Where I work
 * CH5 - My Work
* * * * * * * * * * * * * * * * * * * */

    /*/CH1////////////////////////// TYPOGRAPHY /////////////////////////////*/ 
    @font-face {
        font-family: Helvetica Bold;
         src: url("fonts/HelvNeueBoldforIBM.otf");
    }
    @font-face {
        font-family: Helvetica Medium;
        src: url("fonts/HelvNeueMediumforIBM.otf");
    }
    @font-face {
        font-family: Helvetica Roman;
        src: url("fonts/HelvNeueRomanforIBM.otf");
    }
    @font-face {
        font-family: Helvetica Light;
        src: url("fonts/HelvNeueLightforIBM.otf");
    }
    @font-face {
        font-family: Droid Sans Bold;
        src: url("fonts/DroidSans-Bold.ttf");
    }
    @font-face {
        font-family: Droid Sans;
        src: url("fonts/DroidSans.ttf");
    }
    @font-face {
        font-family: Lato Bold;
        src: url("fonts/Lato-Bold.ttf");
    }
    @font-face {
        font-family: Lato Regular;
        src: url("fonts/Lato-Regular.ttf");
    }
    @font-face {
        font-family: Lato Light;
        src: url("fonts/Lato-Light.ttf");
    }


/*
For easy font-adding
    @font-face {
        font-family:;
        src: url("fonts/");
    }
*/
    
    /*/CH2////////////////////// GLOBALS & VISUAL LANGUAGE ////////////////////*/
/* Fill in with abstractions */

    body {
        background-color: black;
        color: white;
        margin: 0 0;
    }
    h1 {
    }
    h2 {
    }
    li {
    }
    .seperator {
        width: 55px;
        height: 1px;
        background-color: white;
        opacity: 1;
        margin: 0 auto;
    }
    .seperator-full {
    
    }
    /*/CH3/////////////////////////// ABOUT ME //////////////////////////////*/
    #above-fold-container {
        height: 100vh;
        width: 100vw;
        border: 0px solid yellow;
    }
    #my-name {
        font-family: museo-slab;
        font-size: 2em;
        padding: 20vh 25.5vw 0vh 25.5vw;
        text-align: center;
    }
    #about-me {
        font-family: Helvetica Light;
        font-size: 1.6em;
        padding: 3vh 25.5vw 0vh 25.5vw;
        text-align: center;
    }
    /*/CH4///////////////////////// WHERE I LEARN ////////////////////////////*/
        /* could use improvement */
.where-list {
        display: inline-block;
        padding: 0vh 25.5vw 6vh 25.5vw;
        height: 50px;
        margin: 0 auto;
        border: 0px solid yellow;
    }
    .where-list li {
        font-family: museo-slab;
        font-weight: 700;
        display: inline-block;
        list-style: none;
        float: left;
        text-align: center;
        width: calc(15vw - 25px);
        margin-left: 25px;
        margin-top: 3vh;
        padding-top: 1.1vw;
        padding-bottom: 1vw;
        color:  #5AAAFA;
        border: 1.5px solid #5AAAFA;
        border-radius: 0px;

    }
    .where-list li:hover {
        background-color:  #5AAAFA;
        color: white;
        cursor: pointer;
    }
    
    /* coloring for where links */
    #where-bard {
    }
    #where-NEU {
    }
    #where-IBM {
    }
    /*/CH5/////////////////////////// MY WORK ///////////////////////////////*/ 
    #work-title{
        font-family: Helvetica Bold;
        font-size: 2em;
        padding-top: 25vh;
        text-align: center;
    }
    #below-fold-container {
    }
    #work-list {
    }
    #work-list li {
    }
    
    #work-item {
    }
    